//VARIABLES (it musb be in the first position)
@use '../../Mixins/Variables.scss' as * ;

//MEDIA
@import '../../Mixins/MediaQueries.scss';

//@import 'bootstrap/scss/bootstrap';


@mixin styles_phone () {

  height: 250px;

    


  
}

@mixin styles_tablets () {
  
    
  height: 250px;

    

 

  

}

@mixin styles_desktop () {

    height: 200px;
    margin-top: 100px;


    height: 100vh;

   

  
   
}



 
.container_about_click_futuro{

        
     
  

  @include media-query($media_phone){
    @include styles_phone();
  }

  @include media-query($media_tablet){
    @include styles_tablets();
  }

  @include media-query($media_desktop){
    @include styles_desktop();
  }

}