//VARIABLES (it musb be in the first position)
@use '../../../Mixins//Variables.scss' as * ;


//MEDIA
@import '../../../Mixins/MediaQueries.scss';

//@import 'bootstrap/scss/bootstrap';


@mixin styles_phone () {
    
  
  
}

@mixin styles_tablets () {
  
  
  
   

}

@mixin styles_desktop () {

    

  .BOX_CONTAINER{

    .BLOCK_CONTAINER{

      display: flex;

      height: auto;

      border: 1px solid red;

      .FRAME_CONTAINER_ONE{
        width: 70%;
  
        display: flex;
        flex-direction: column;

       
      }

      .FRAME_CONTAINER_TWO{

        border: 1px solid black;

        .image_one{

          margin-top: 60px;
        }

      }
  
      .introToInformatics_software-development-programming_IMAGES{

      

        padding: 10px;

        
        .software_two{

          width: 600px;
          height: 300px;

          margin-top: 60px;

          

          content: url('../../../../assets/blogs_fonts/IntroToinformatics/desarrollo_software.jpg');
          
         

          }  
          
        
      }

      .introToInformatics_network-comunications_IMAGES{

        padding: 10px;

        .redes_one{
          width: 600px;
          height: 300px;

          content: url('../../../../assets/blogs_fonts/IntroToinformatics/redes3.png');
        }

      }

      .introToInformatics_informatics-secure_IMAGES{

        padding: 10px;

        .secure_one{

          width: 600px;
          height: 300px;

          content: url('../../../../assets/blogs_fonts/IntroToinformatics/seguridadInformatica1.png');
        }
      }

      .introToInformatics_data-base_IMAGES{

        padding: 10px;

        .database_one{

          width: 600px;
          height: 300px;

          content: url('../../../../assets/blogs_fonts/IntroToinformatics/database.png'); 

        }
      }

      .introToInformatics_ia-intelligence_IMAGES{

        padding: 10px;

        .ia_one{

          width: 600px;
          height: 300px;

          content: url('../../../../assets/blogs_fonts/IntroToinformatics/ia1.png'); 

        }
      }

      .introToInformatics_data-science_IMAGES{
        padding: 10px;

        .dataScience_one{

          width: 600px;
          height: 300px;

          content: url('../../../../assets/blogs_fonts/IntroToinformatics/dataScience1.png'); 

        }
      }

      .introToInformatics_operatingsystem_IMAGES{

        padding: 10px;

        .op_one{

          width: 600px;
          height: 300px;

          content: url('../../../../assets/blogs_fonts/IntroToinformatics/SO1.jpg'); 

        }
      }

      .introToInformatics_robotics_IMAGES{

        padding: 10px;

        .robotics_one{

          width: 600px;
          height: 300px;

          content: url('../../../../assets/blogs_fonts/IntroToinformatics/robotica1.png');

        }
      }

    }

   
  }

    
    
   
}



 
.wrapper_introToInformatics_blog{

        //CONFIGURATION BY DEFAULT
        font-size: 25px;


        .BOX_CONTAINER{

            .BLOCK_CONTAINER{
        
              .FRAME_CONTAINER_ONE{
                width: 50%;
          
                display: flex;
                flex-direction: column;
              }
          
              .FRAME_CONTAINER_TWO{
                
                width: 50%;
          
                
              }
        
            }
      
         
      }
        
      
  

  @include media-query($media_phone){
    @include styles_phone();
  }

  @include media-query($media_tablet){
    @include styles_tablets();
  }

  @include media-query($media_desktop){
    @include styles_desktop();
  }

}