//VARIABLES (it musb be in the first position)
@use './Mixins/Variables.scss' as *;

//MEDIA
@import './Mixins/MediaQueries.scss';

//@import 'bootstrap/scss/bootstrap';



@mixin styles_phone () {
  
    border: 1px solid black;
  
}

@mixin styles_tablets () {
 
    border: 1px solid black;
}

@mixin styles_desktop () {

  border:1px solid  black;

   
}




.layout{

    
        margin: 0;
        padding: 0;
        font-family: 'Arial', sans-serif;

       
        /* Others globals styles */
     
  

  @include media-query($media_phone){
    @include styles_phone();
  }

  @include media-query($media_tablet){
    @include styles_tablets();
  }

  @include media-query($media_desktop){
    @include styles_desktop();
  }

}