//VARIABLES (it musb be in the first position)
@use '../../../Mixins/Variables.scss' as * ;

//MEDIA
@import '../../../Mixins/MediaQueries.scss';

//@import 'bootstrap/scss/bootstrap';


@mixin styles_phone () {

  
    
  border: 1px solid green; 
  
}

@mixin styles_tablets () {
  
  display: flex;
  flex-direction: column;
  justify-content: center;

  border: 1px solid green; 

}

@mixin styles_desktop () {

    height: $height-Container_Presentation;

    

    .wrapper_presentation{

      width: 100%;

      max-height:  $max-height-wrapper_presentation;
      min-height: $min-height-wrapper_presentation;

      justify-content: space-around;

      text-align: center;

    }

    border: 1px solid green; 
   
}



 
.container_presentation{

        //CONFIGURATION BY DEFAULT
       
        max-width: $max-width-Container; //100%
        min-width: $min-width-Container; //320px
       
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
       
        
        .wrapper_presentation{

          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          margin: 0;
          height: $max-height-wrapper_presentation; //100%
         
 
          border: 1px solid black;
        }
     
  

  @include media-query($media_phone){
    @include styles_phone();
  }

  @include media-query($media_tablet){
    @include styles_tablets();
  }

  @include media-query($media_desktop){
    @include styles_desktop();
  }

}