//VARIABLES (it musb be in the first position)
@use '../../../Mixins/Variables.scss' as * ;

//MEDIA
@import '../../../Mixins/MediaQueries.scss';

//@import 'bootstrap/scss/bootstrap';


@mixin styles_phone () {

    

    

  .wrapper_presentation{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
    
    margin: 0;
    height: $max-height-wrapper_presentation; //100%
    
    
    
    
      width: 100%;  
      height: 300px; 
      content: url('../../../../assets/blogs_fonts/10.png');

    
  } 

  .tittle_presentation{

    position: absolute;

    h1{

      text-align: center;
      font-size: 20px;

      color: white;
    }
  }

  
}

@mixin styles_tablets () {
  
    
    height: 400px;
    margin-top: 20px; 

    position: relative;


    
    margin-bottom: 30px;
    
    z-index: 1;
    
    .tittle_presentation{
      
      position: absolute;

      margin: 0 auto;
      
      color: white;

      

      h1{
        
        text-align: center;

        padding: 10px;
      }
      
     
    }
    
    
    .wrapper_presentation{
      
      width: 100%;
      height: 500px;
      
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
      margin: 0;
      
      content: url('../../../../assets/blogs_fonts/8.png');  
     

     

      img{

        width: 100%;
        height: 400px; 
      }

    } 
  

}

@mixin styles_desktop () {

  height: 400px;
  margin-top: 20px;

  position: relative;

  //background: url('../../../../assets/blogs_fonts/6.png');

  
  margin-bottom: 30px;
  
  z-index: 1;
  
  .tittle_presentation{
    
    position: absolute;
    top: 50px;

    margin: 0 auto;
    
    color: white;

    

    h1{
      
      text-align: center;
      font-size: 30px;

      padding: 10px;
    }
    
   
  }
  
  
  .wrapper_presentation{
    
    width: 100%;
    height: 500px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin: 0;
    
    content: url('../../../../assets/blogs_fonts/8.png');  
   

   

    img{

      width: 100%;
      height: 400px; 
    }

  } 


  
   
}



 
.container_presentation{

        //CONFIGURATION BY DEFAULT
       
        max-width: $max-width-Container; //100%
        min-width: $min-width-Container; //320px
       
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        
 
        
       
        
        .wrapper_presentation{

          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          margin: 0;
          height: $max-height-wrapper_presentation; //100%
         
 
    
        } 
     
  

  @include media-query($media_phone){
    @include styles_phone();
  }

  @include media-query($media_tablet){
    @include styles_tablets();
  }

  @include media-query($media_desktop){
    @include styles_desktop();
  }

}