//VARIABLES (it musb be in the first position)
@use '../../../Mixins/Variables.scss' as * ;

//MEDIA
@import '../../../Mixins/MediaQueries.scss';

//@import 'bootstrap/scss/bootstrap';


@mixin styles_phone () {
  
  

  .box-one_menu_one, .box-two_menu_two, .box-three_menu_three{
    display: flex;
  }

  .box{
    margin-bottom: 20px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    gap: 15px; /* Espaciado de 5px entre los elementos */
  }

  border: 1px solid green;
  
  
  
  
}

@mixin styles_tablets () {
  
  .box-one_menu_one, .box-two_menu_two, .box-three_menu_three{
    display: flex;
  }

  .box{
    margin-bottom: 20px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    gap: 15px; /* Espaciado de 5px entre los elementos */
  }

  border: 1px solid green; 

}

@mixin styles_desktop () {

  padding: 50px;



  .box-one_menu_one, .box-two_menu_two, .box-three_menu_three{
    display: flex;
  }

  .box{
   
    margin: 10px auto;
    max-width: 40%;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    gap: 15px;

    
  }

    border: 1px solid green;

   
}



 
.container_menu{

        //CONFIGURATION BY DEFAULT
        
        max-width: $max-width-Container;
        min-width: $min-width-Container;
        
        max-height: $max-height-Container-Menu;
        min-height: $min-height-Container_Menu;

        
        display: flex;
        flex-direction: column;
        justify-content: center;

        

        
        
        /* Others globals styles */
        
      
        font-family: 'Arial', sans-serif;

       
     
  

  @include media-query($media_phone){
    @include styles_phone();
  }

  @include media-query($media_tablet){
    @include styles_tablets();
  }

  @include media-query($media_desktop){
    @include styles_desktop();
  }

}