//VARIABLES (it musb be in the first position)
@use '../../../Mixins/Variables.scss' as * ;

//MEDIA
@import '../../../Mixins/MediaQueries.scss';

//@import 'bootstrap/scss/bootstrap';


@mixin styles_phone () {
  
  display: grid;
  grid-template-columns: repeat(2, minmax(1, 2fr));
  gap: 10px;
  border: 1px solid green;
  

  .box-one_menu_one, .box-two_menu_two, .box-three_menu_three{
    display: flex;
  }

  .box{
   
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    gap: 10px;
    border: 1px solid black;
   
 
    
  }

  border: 1px solid green;
  
  
  
  
}

@mixin styles_tablets () {
  
  

  width: 100%;


  .box-one_menu_one, .box-two_menu_two, .box-three_menu_three{
    display: flex;
  }

  .box{
   
    
    max-width: 100%;
    min-width: 40px;
    height: 100px; 

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    gap: 10px;

    border: 1px solid black;

    
  }

    border: 1px solid green;

}

@mixin styles_desktop () {

  



  .box-one_menu_one, .box-two_menu_two, .box-three_menu_three{
    display: flex;
  }

  .box{
   
   
    max-width: 100%;
    height: $max-height-Container-Menu; //auto 

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    gap: 170px;

    border: 1px solid black;

    
  }

    border: 1px solid green;

   
}



 
.container_menu{

        //CONFIGURATION BY DEFAULT
        
        max-width: $max-width-Container;
        min-width: $min-width-Container;
        
        max-height: $max-height-Container-Menu;
        min-height: $min-height-Container_Menu;

        
       /*  display: flex;
        flex-direction: column; */

        display: grid; // Apply grid layout here if needed
        grid-template-columns: repeat(2, minmax(1, 2fr));
        gap: 10px;
        

        

        
        
        /* Others globals styles */
        
      
        font-family: 'Arial', sans-serif;


        .access_content{

          width: 600px;

          display: flex;
          justify-content: space-around;
          align-items: center; 

          border-radius: 10px;

          background-color: transparent;

          border: 1px solid red;

          .blog_icon{

            width: 50px;


            img{

              width: 100%;
            }
          }
        }

       
     
  

  @include media-query($media_phone){
    @include styles_phone();
  }

  @include media-query($media_tablet){
    @include styles_tablets();
  }

  @include media-query($media_desktop){
    @include styles_desktop();
  }

}