//VARIABLES (it musb be in the first position)
@use '../../../Mixins/Variables.scss' as * ;

//MEDIA
@import '../../../Mixins/MediaQueries.scss';

//@import 'bootstrap/scss/bootstrap';


@mixin styles_phone () {

        display: grid; 
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 20px;

        padding: 0;
        margin: 0 auto;

  .wrapper_blog{

    max-width: 100%;
    min-width: 60%;

    display: flex;
    flex-direction: column;

    .box_one{

      width: 300px;
      height: 150px;
      margin: 0 auto;

      img{
        

        width: 100%;
        height: 150px;
      }
    }

    .box_two{


      
    }
   
  }
    
  border: 1px solid green; 
  
}

@mixin styles_tablets () {
  
  display: grid; 
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 20px;

  .wrapper_blog{

    margin: 0 auto;  

    border: 1px solid black;

    .figure_about_logo{
      
      width: 100%;
      
      img{

        width: 100%;
        height: 250px;
      }
    }

    .box_two{
      h3{
        text-align: center;
      }
      border: 1px solid black;
    }

    .box_three {
      display: flex;
      justify-content: space-around; 
    }
  }

    border: 1px solid green; 

}

@mixin styles_desktop () {

  display: grid; 
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 20px;

  .wrapper_blog{

    margin: 0 auto;  

    border: 1px solid black;

    .figure_about_logo{
      
      width: 100%;
      
      img{

        width: 100%;
        height: 350px;
      }
    }

    .box_two{
      h3{
        text-align: center;
      }
      border: 1px solid black;
    }

    .box_three {
      display: flex;
      justify-content: space-around; 
    }
  }

    border: 1px solid green; 
   
}



 
.container_blog{

        //CONFIGURATION BY DEFAULT
       
        max-width: $max-width-Container;
        min-width: $min-width-Container;

        padding: 2%;
        
        display: grid; 
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 20px;

        .wrapper_blog{

          margin: 0 auto;  

          border: 1px solid black;

          .box_two{
            h3{
              text-align: center;
            }
            border: 1px solid black;
          }

          .box_three {
            display: flex;
            justify-content: space-around; 
          }
        }

        

        
        
        /* Others globals styles */
        
      
        font-family: 'Arial', sans-serif;

       
     
  

  @include media-query($media_phone){
    @include styles_phone();
  }

  @include media-query($media_tablet){
    @include styles_tablets();
  }

  @include media-query($media_desktop){
    @include styles_desktop();
  }

}