//VARIABLES (it musb be in the first position)
@use '../../../Mixins/Variables.scss' as * ;

//MEDIA
@import '../../../Mixins/MediaQueries.scss';

//@import 'bootstrap/scss/bootstrap';


@mixin styles_phone () {
  .wrapper_footer_one{

    display: flex;
    justify-content: space-around;

    height: 50%;

    border: 1px solid black;
  }

  .wrapper_footer_two{

    display: flex;
    justify-content: center;

    width: 100%;

    

    .box_three{

      width: 100%;


      
      hr {
        width: 90%;
      }
      h6{
        text-align: center;
      }
    }
  }

  border: 1px solid green; 
    
  border: 1px solid green; 
  
}

@mixin styles_tablets () {
  
  .wrapper_footer_one{

    display: flex;
    justify-content: space-around;

    height: 50%;

    border: 1px solid black;
  }

  .wrapper_footer_two{

    display: flex;
    justify-content: center;

    width: 100%;

    

    .box_three{

      width: 100%;


      
      hr {
        width: 90%;
      }
      h6{
        text-align: center;
      }
    }
  }

  border: 1px solid green; 

  border: 1px solid green; 

}

@mixin styles_desktop () {

    .wrapper_footer_one{

      display: flex;
      justify-content: space-around;

      height: 50%;

      border: 1px solid black;
    }

    .wrapper_footer_two{

      display: flex;
      justify-content: center;

      width: 100%;

      

      .box_three{

        width: 100%;


        
        hr {
          width: 90%;
        }
        h6{
          text-align: center;
        }
      }
    }

    border: 1px solid green; 
   
}

 

 
.container_Footer{

        //CONFIGURATION BY DEFAULT
       
        max-width: $max-width-Container;
        min-width: $min-width-Container; 

        display: flex;
        flex-direction: column;

        
        
        /* Others globals styles */
        
      
        font-family: 'Arial', sans-serif;

       
     
  

  @include media-query($media_phone){
    @include styles_phone();
  }

  @include media-query($media_tablet){
    @include styles_tablets();
  }

  @include media-query($media_desktop){
    @include styles_desktop();
  }

}