//PALETA DE COLORES
$background_main_color:rgb(253, 230, 1); 

    //COLORES FONTS
    $color_main_font: #00000000;


//MEDIA QUERIES

$media_phone: 480;
$media_tablet: 720;
$media_desktop: 1024;

$ancho-telefono: 480px;
$ancho-tablet: 720px; 
$ancho-computadora: 1024px;

//FONTS, SIZES, LETTERS

//LAYOUT
    //WIDTH AND SIZES 
    $width-Layout: 100%;
    $min-width-Layout: 320px; 
    $height-Layout: auto; 

    //margins and padding
    $padding-Layout: 0px;
    $padding-top-Layout: 10px;
       
    $margin-Layout: 0;


//CONTAINERS
    //width and sizes
    $max-width-Container: 100%;
    $min-width-Container: 320px;
    

//CONTAINER PRESENTATION
    //width, height and sizes
    $height-Container_Presentation: 60vh;
    
    //wrappers presetantion
    
    $max-height-wrapper_presentation: 100%;
    $min-height-wrapper_presentation: 280px;

//CONTAINER MENU
    $max-height-Container-Menu: auto;
    $min-height-Container_Menu: auto;






 