//MEDIA QUERIES

$media_phone: 480;
$media_tablet: 820;
$media_desktop: 1024;

$ancho-telefono: 480px;
$ancho-tablet: 830px; 
$ancho-computadora: 1024px;

//FONTS, SIZES, LETTERS

//LAYOUT
    //WIDTH AND SIZES 
    $width-Layout: 100%;
    $min-width-Layout: 320px; 
    $height-Layout: auto; 

    //margins and padding
    $padding-Layout: 10px; 
    $margin-Layout: 0;


//CONTAINERS
    //width and sizes
    $max-width-Container: 100%;
    $min-width-Container: 320px; 





 