//VARIABLES (it musb be in the first position)
@use '../Mixins/Variables.scss' as *;

//MEDIA
@import '../Mixins/MediaQueries.scss';

//@import 'bootstrap/scss/bootstrap';



@mixin styles_phone () {

    max-width: 70%;
    min-width: 50%;

    height: 40px;

    margin: 5px auto;
  
    background-color: yellow;
   
}

@mixin styles_tablets () {


    max-width: 70%;
    min-width: 100px;

    margin: 0 auto;
 
    background-color: rgb(145, 255, 0);
}

@mixin styles_desktop () {

  background-color: red;

  margin: 0 auto;

  max-width: 100px;
  max-height: 30px;

   
}




.ui_ux_button_access{

        // STYLES BY DEFAULT
        border-radius: 30px;
        background-color: blue;
       
        min-width: 200px;
        max-height: 50px;
       
        /* Others globals styles */
     
  

  @include media-query($media_phone){
    @include styles_phone();
  }

  @include media-query($media_tablet){
    @include styles_tablets();
  }

  @include media-query($media_desktop){
    @include styles_desktop();
  }

}