//VARIABLES (it musb be in the first position)
@use '../Mixins/Variables.scss' as * ;

//MEDIA
@import '../Mixins/MediaQueries.scss';

//@import 'bootstrap/scss/bootstrap';


 
@mixin styles_phone () {
    
  position: relative;
   
  
}

@mixin styles_tablets () {
  
  display: flex;
  flex-direction: column;
  justify-content: center;

}

@mixin styles_desktop () {


   
}



 
.layout{

        //CONFIGURATION BY DEFAULT
        width:  $width-Layout; //100%
        min-width: $min-width-Layout; //320 px
        height: $height-Layout; //auto

        background-color: rgb(253, 230, 1); //main background color (yellow)
        

        border:1px solid  purple;

        
        
        margin: $margin-Layout;
        
        /* Others globals styles */
        
        display: flex;
        flex-direction: column;

        font-family: 'Arial', sans-serif;

       
     
  

  @include media-query($media_phone){
    @include styles_phone();
  }

  @include media-query($media_tablet){
    @include styles_tablets();
  }

  @include media-query($media_desktop){
    @include styles_desktop();
  }

}