//VARIABLES (it musb be in the first position)
@use '../Mixins/Variables.scss' as *;

//MEDIA
@import '../Mixins/MediaQueries.scss';

//@import 'bootstrap/scss/bootstrap';



@mixin styles_phone () {

  .navbar_tablets_desktop{
    display: none;
  }

  .navbar_phone{
    
    .box-about_clickfuturo{
      display: flex;
      justify-content: space-between;
      
      .wrapper_logo{

        margin-left: 10px;
    
        width: 20%; 
        height: auto;
    
        border: 1px solid #706637;
    
        img{
    
          
    
          max-width: 100%;
          min-width: 50px;
          min-height: 60px; 
          max-height: 100px;
    
          border: 1px solid rgb(245, 8, 8);
        }
        
      }

      .wrapper_name{
        width: 70%;

        .main-message{
          font-size: 12px;
        }
      }

    }

    .box-clickfuturo-icons{  

      width: 96%; 
      height: auto;

      background-color: #474123;
      border-radius: 20px 20px 0 0;

      position: fixed;

      top: 90vh; 

      display: flex;
      

      border: 1px solid rgba(194, 175, 175, 0.521);

      .box{ 
        margin: 0 auto;
        padding: 10px;

        

        width: 60px;  

        border: 1px solid white;


        img{
          width: 50px;
          height: 50px;
        }
        
      }
    } 
  }

  

 
  
  .wrapper_info{
    
    width: 70%;
    min-height: 70px;
    

    margin-right: 10px;

    border: 1px solid rgb(13, 17, 245);

    .box_info{

      display: flex;
      justify-content: space-between;

      border: 1px solid rgb(238, 7, 7);

      .box_info-media{

        display: none;

        img{ 
          width: 50px;
         }
      }
    }

    .box_language{

     // width: 900px;
      //height: 300px;

       

      border: 1px solid green;

      .changeLanguage_button{
        
        display: flex;
        justify-content: space-around;
        align-items: center;

        background-color: transparent;
        

        height: 50px;
        width: 190px;
        
        .buttonaccess_box_worldlanguage{

          margin-top: 10px;

          width: 70px; 
          height: 40px;

          

          img{
            
             
            width: 50px;
          }
        }
        
        
      }
    }
   
  }
   
}

@mixin styles_tablets () {

  .navbar_phone{
    display: none;
  }

  .navbar_tablets_desktop{

    width: 100%;

    display: flex;
    justify-content: space-between;

    .wrapper_logo{

      margin-left: 10px;
  
      width: 10%;
      height: auto;
  
      border: 1px solid rgb(19, 18, 18);
  
      img{
  
        
  
        max-width: 100%;
        min-width: 80px;
        min-height: 80px;
        max-height: 100px;
  
        border: 1px solid rgb(245, 8, 8);
      }
      
    }

    .wrapper_info{
    
      width: 80%;
      min-height: 70px;
      
  
      margin-right: 10px;
  
      border: 1px solid rgb(13, 17, 245);
  
      .box_info{
  
        display: flex;
        justify-content: space-between;
  
        border: 1px solid rgb(238, 7, 7);
  
        .box_info-media{
  
          max-width: 300px;
          min-width: 200px;
  
          display: flex;
          justify-content: space-around;
  
          border: 1px solid rgb(248, 55, 6);
  
          img{ 
            width: 50px;
           }
        }
      }
  
      .box_language{
  
       // width: 900px;
        //height: 300px;
  
         
  
        border: 1px solid green;
  
        .changeLanguage_button{
          
          display: flex;
          justify-content: space-around;
          align-items: center;
  
          background-color: transparent;
          
  
          height: 50px;
          width: 190px;
          
          .buttonaccess_box_worldlanguage{
  
            margin-top: 10px;
  
            width: 70px; 
            height: 40px;
  
            
  
            img{
              
               
              width: 50px;
            }
          }
          
          
        }
      }
     
    }

  }

 
  
 

}

@mixin styles_desktop () {

  .navbar_phone{
    display: none;
  }
  
  
  .navbar_tablets_desktop{

    width: 100%;

    display: flex;
    justify-content: space-between;
    
    .wrapper_logo{

      margin-left: 10px;
  
      width: 10%;
      height: auto;
  
      border: 1px solid rgb(19, 18, 18);
  
      img{
  
        
  
        max-width: 100%;
        min-width: 80px;
        min-height: 80px;
        max-height: 100px;
  
        border: 1px solid rgb(245, 8, 8);
      }
      
    }

    .wrapper_info{
    
      width: 80%;
      min-height: 70px;
      
  
      margin-right: 10px;
  
      border: 1px solid rgb(13, 17, 245);
  
      .box_info{
  
        display: flex;
        justify-content: space-between;
  
        border: 1px solid rgb(238, 7, 7);
  
        .box_info-media{
  
          max-width: 300px;
          min-width: 200px;
  
          display: flex;
          justify-content: space-around;
  
          border: 1px solid rgb(248, 55, 6);
  
          img{ 
            width: 50px;
           }
        }
      }
  
      .box_language{
  
       // width: 900px;
        //height: 300px;
  
         
  
        border: 1px solid green;
  
        .changeLanguage_button{
          
          display: flex;
          justify-content: space-around;
          align-items: center;
  
          background-color: transparent;
          
  
          height: 50px;
          width: 190px;
          
          .buttonaccess_box_worldlanguage{
  
            margin-top: 10px;
  
            width: 70px; 
            height: 40px;
  
            
  
            img{
              
               
              width: 50px;
            }
          }
          
          
        }
      }
     
    }

  }


  
   
}




.navbar{

        // STYLES BY DEFAULT

        display: flex;
        min-height: 120px;

        
        .box_language{
          
          
          width: 240px;
          height: 60px;

          border: 1px solid red;
          

          .changeLanguage_button{

             // the button styles are  found in the button_acces.scss  

            .buttonaccess_box_worldlanguage{

              //width: 100px;
              // height: 30px;

              img{

              
              }
            }
            

          }
          
          

          .dropdown-menu{
            display: block; 
          }

        }

       
       
        /* Others globals styles */
     
  

  @include media-query($media_phone){
    @include styles_phone();
  }

  @include media-query($media_tablet){
    @include styles_tablets();
  }

  @include media-query($media_desktop){
    @include styles_desktop();
  }

}