//VARIABLES (it musb be in the first position)
@use '../Mixins/Variables.scss' as *;

//MEDIA
@import '../Mixins/MediaQueries.scss';

//@import 'bootstrap/scss/bootstrap';



@mixin styles_phone () {

  .navbar_tablets_desktop{
    display: none;
  }

  .navbar_phone{
    
    width: 100%;;

    .box-about_clickfuturo{
      display: flex;
      justify-content: space-between;
      
      .wrapper_logo{

        margin-left: 10px;
    
        width: 20%; 
        height: auto;
    
        
    
        img{
    
          
    
          max-width: 100%;
          min-width: 50px;
          min-height: 60px; 
          max-height: 100px;
    
       
        }
        
      }

      .wrapper_name{
        width: 70%;

        .main-message{
          font-size: 12px;
        }
      }

    }

    .box-clickfuturo-icons{  

      width: 71%; 
      height: 100px;

      background-color: #474123;
      border-radius: 20px 20px 0 0;

      position: fixed;

      top: 100vh;  

      display: flex;
      

      

      .box{ 
        margin: 0 auto;
        padding: 10px;
 
        

        width: 100%;  

      


        img{
          width: 50px;
          height: 50px;
        }
        
      }
    } 
  }

  

 
  
  .wrapper_info{
    
    width: 70%;
    min-height: 70px;
    

    margin-right: 10px;

    

    .box_info{

      display: flex;
      justify-content: space-between;

     

      .box_info-media{

        display: none;

        img{ 
          width: 50px;
         }
      }
    }

    .box_language{

     // width: 900px;
      //height: 300px;

       

      

      .changeLanguage_button{
        
        display: flex;
        justify-content: space-around;
        align-items: center;

        background-color: transparent;
        

        height: 50px;
        width: 190px;
        
        .buttonaccess_box_worldlanguage{

          margin-top: 10px;

          width: 70px; 
          height: 40px;

          

          img{
            
             
            width: 50px;
          }
        }
        
        
      }
    }
   
  }
   
}

@mixin styles_tablets () {

  font-size: 20px;  

  height: auto;

  .navbar_phone{
    display: none;
  }
  
  
  .navbar_tablets_desktop{

    width: 100%;
    height: auto;

    display: flex;
    justify-content: space-between;
    
    .wrapper_logo{

      margin-left: 10px;
  
      width: 10%;
      height: auto;
  
      
  
      img{
  
        
  
        max-width: 100%;
        min-width: 80px;
        min-height: 80px;
        max-height: 100px;
  
        
      }
      
    }

    .wrapper_info{
    
      width: 80%;
      min-height: 70px;
      
  
      margin-right: 10px;
  
    
  
      .box_info{
  
        display: flex;
        justify-content: space-between;
  
      
        .box_info-media{
  
          max-width: 300px;
          min-width: 200px;
  
          display: flex;
          justify-content: space-around;
  
        
  
          img{ 
            width: 50px;
           }
        }
      }
  
      .box_language{
  
       // width: 900px;
        //height: 300px;
  
         
  
        
  
        .changeLanguage_button{
          
          display: flex;
          justify-content: space-around;
          align-items: center;
  
          background-color: transparent;

          
          
  
          height: auto;
          width: 190px;
          
          .buttonaccess_box_worldlanguage{
  
            margin-bottom: 20px;
   
            width: 70px; 
            height: 40px;
  
            
  
            img{
              
               
              width: 50px;
            }
          }
          
          
        }
      }
     
    }

  }
 
  
 

}

@mixin styles_desktop () {

  font-size: 25px;

  height: auto;

  .navbar_phone{
    display: none;
  }
  
  
  .navbar_tablets_desktop{

    width: 100%;
    height: auto;

    display: flex;
    justify-content: space-between;
    
    .wrapper_logo{

      margin-left: 10px;
  
      width: 10%;
      height: auto;
  
      
  
      img{
  
        
  
        max-width: 100%;
        min-width: 80px;
        min-height: 80px;
        max-height: 100px;
  
        
      }
      
    }

    .wrapper_info{
    
      width: 80%;
      min-height: 70px;
      
  
      margin-right: 10px;
  
    
  
      .box_info{
  
        display: flex;
        justify-content: space-between;
  
      
        .box_info-media{
  
          max-width: 300px;
          min-width: 200px;
  
          display: flex;
          justify-content: space-around;
  
        
  
          img{ 
            width: 50px;
           }
        }
      }
  
      .box_language{
  
       // width: 900px;
        //height: 300px;
  
         
  
        
  
        .changeLanguage_button{
          
          display: flex;
          justify-content: space-around;
          align-items: center;
  
          background-color: transparent;

          font-size: 18px;
          
  
          height: auto;
          width: 290px;
          
          .buttonaccess_box_worldlanguage{
  
            margin-bottom: 20px;
   
            width: 50px; 
            height: 25px;

            h6{

              font-size: 18px;
            }
  
            
  
            img{
              
               
              width: 50px;
            }
          }
          
          
        }
      }
     
    }

  }


  
   
}




.navbar{

        // STYLES BY DEFAULT

        display: flex;
        min-height: 120px;

        
        .box_language{
          
          
          width: 240px;
          height: 60px;

          

          .changeLanguage_button{

             // the button styles are  found in the button_acces.scss  

            .buttonaccess_box_worldlanguage{

              //width: 100px;
              // height: 30px;

              img{

              
              }
            }
            

          }
          
          

          .dropdown-menu{
            display: block; 
          }

        }

       
       
        /* Others globals styles */
     
  

  @include media-query($media_phone){
    @include styles_phone();
  }

  @include media-query($media_tablet){
    @include styles_tablets();
  }

  @include media-query($media_desktop){
    @include styles_desktop();
  }

}