//VARIABLES (it musb be in the first position)
@use '../Mixins/Variables.scss' as *;

//MEDIA
@import '../Mixins/MediaQueries.scss';

//@import 'bootstrap/scss/bootstrap';



@mixin styles_phone () {

  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 0;

  border: 1px solid green;

  .wrapper_logo{

    width: 30%;

    border: 1px solid black;
  }


  .wrapper_info{
    
    width: 70%;
    
    border: 1px solid black;

    .box_info{
      
      text-align: center;
      list-style: none;
      
      padding: 0;

      .about_clic_futuro{
        display: none;
      }

      .box_info-media{
        display: none;
        img{
          
        }

      }
    }
  }

  height: 70px;
  
    background-color: yellow;
   
}

@mixin styles_tablets () {

  .wrapper_logo{

    width: 10%;

    border: 1px solid yellow;
    
  }
  
  .wrapper_info{
    
    width: 80%;

    border: 1px solid yellow;

    .box_info{

      display: flex;
      justify-content: space-between;

      border: 1px solid black;

      .box_info-media{

        max-width: 300px;
        min-width: 100px;
        
        border: 1px solid yellow;
      }
    }
  }
 
    background-color: blue;
}

@mixin styles_desktop () {

  
  .wrapper_logo{

    width: 10%;

    border: 1px solid yellow;
    
  }
  
  .wrapper_info{
    
    width: 80%;

    border: 1px solid yellow;

    .box_info{

      display: flex;
      justify-content: space-between;

      border: 1px solid black;

      .box_info-media{

        max-width: 300px;
        min-width: 200px;

        border: 1px solid yellow;
      }
    }
  }

  background-color: red;

   
}




.navbar{

        // STYLES BY DEFAULT

        display: flex;

       
       
        /* Others globals styles */
     
  

  @include media-query($media_phone){
    @include styles_phone();
  }

  @include media-query($media_tablet){
    @include styles_tablets();
  }

  @include media-query($media_desktop){
    @include styles_desktop();
  }

}